<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student List</title>
</head>
<body>

<h2>All Students</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Class</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.studentId}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.age}"></td>
        <td th:text="${student.studentClass}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.address}"></td>
        <td>
            <a th:href="@{/editById/{id}(id=${student.studentId})}">Edit</a>
        </td>
        <td >
            <a th:href="@{/deleteById/{id}(id=${student.studentId})}">Delete</a>
        </td>
    </tr>
</table>

<br>
<a href="/addStudent">Add New Student</a>
<a href="/getByName">Search By Student Name</a>

</body>
</html>
